#body {
    background-color: rgb(218, 169, 186);
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    color: aqua;
    transition: background-color 0.7s ease;
}

nav li:hover {
    background-color: blanchedalmond;
}

nav li a {
    text-decoration: none;
    color: black;
}

h1, h2, p {
    margin-top: 20px;
    text-align: center;
}
